<h1> Welcome to Pair BnB </h1>
<h2> My Profile Page </h2>

<% if !current_user.nil? %>


	<% if signed_in?%>
		<h3> Welcome, <%=current_user.email %>!</h3>
	<% else %>
		<h3> Welcome, guest! </h3>
	<% end %>
<% end %>


	<% if current_user.image != nil %>
<%= image_tag current_user.image, :style => "width: 500px;" %></div>
	<% end %>


 <%= link_to "New Listing", new_listing_path %>
 <%= link_to "All Listings", listings_path %>

 <%= link_to "My Reservations", user_reservations_path(current_user) %>
 <%= link_to "Edit My Profile", edit_user_path(current_user) %>