<h3> Reservation for <%=@listing.description %></h3>


<%= form_for @reservation, url: {action: "create"} do |f| %>
  
  <div class="form-group">
    <%= f.date_select :from %>
  </div>
    <div class="form-group">
    <%= f.date_select :to %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :listing_id, value: @listing.id %>
  <%= f.submit class: "btn btn-success" %>
<% end %>

