<h1>Transactions#new</h1>

<%= form_for @transaction do |f| %>

<div class ="field">
<%=f.label :from %><br>
<%=@reservation.from %><br>
</div>

<div class ="field">
<%=f.label :to %><br>
<%=@reservation.to %><br>
</div>

<div class ="field">
<%=f.hidden_field :reservation_id, value: @reservation.id %>
</div>

<div class ="field">
<div id="dropin"></div>
</div>

<div class="actions">
<%=f.submit %>
</div>

<% end %>


<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%=@client_token %>", 'dropin', {
      container: 'dropin'
    });
  }
  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;
  </script>
</script>